 
<%= form_with model: @customer, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p> 
    <p>
      <%= form.label :phone %><br>
      <%= form.text_field :phone %>
    </p>   
    <p>
      <%= form.label :body %><br>
      <%= form.text_field :body %>
    </p>   
    <p><%= form.submit%></p>
<% end %>
